@use './_fonts';


.about {
   margin-bottom: 160px;
   @media(max-width: 768px){
      &{
         margin-bottom: 80px;
      }
   };
   &__container {
   }

   &__body {
      background-color: #F3EBEB;
      padding: 50px;
      display: flex;
      gap: 60px;
      align-items: center;
      justify-content: space-between;
      @media(max-width: 876.98px){
         &{
            gap: 30px;
            padding: 25px
         }
      }
   }

   &__img {
      flex: 0 0 40%;
      aspect-ratio: 590 / 873;
      & img{
         width: 100%;
         object-fit: contain;
      }
      @media(max-width: 727.98px){
         &{
            display: none
         }
      };
   }

   &__information {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      align-items: start;
      @media(max-width: 727.98px){
         &{
            align-items: center;
         }
      };
   }

   &__tittle {
      @extend %writtingText;
   }

   &__work {
      @extend %maintittle;
   }

   &__text {
   }

   &__button {
      cursor: pointer;
      @extend %maintittle;
      color: #000;
      font-weight: 600;
      font-size: calc(10px + 4 * (100vw / 1440));
        @media(max-width: 767px){
         font-size: calc(10px + (4 + 4 * 0.7 ) * ((100vw - 320px) / 1440));
      };
      padding: 7px 14px;
      border-radius: 12px;
      background-color: #F3EBEB;
      box-shadow: -1px 1px 5px #000;
      transition: all .5s ease;
      @media(hover:hover){
         &:hover{
            scale: 1.1;
            box-shadow: -1px 1px 15px #000;
         }
      };
   }
}
