@use './_fonts';

.consultation {

   &__container {
      display: flex;
      justify-content: space-between;
      gap: 112px;
      align-items: center;
      margin-bottom: 160px;
      @media(max-width: 866.98px){
         &{
            flex-direction: column;
            align-items: center;
            gap: 25px;
         }
      };
   }

   &__informations {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: start;
      flex: 0 1 calc(65% - 20px);
            @media(max-width: 866.98px){
         &{
            text-align: center;
            align-items: center;
         }
      }

   }

   &__tittle {
      @extend %secondText;
      text-transform: uppercase
   }

   &__text {
      @extend %maintittle;
   }

   &__links {
      flex: 0 0 calc(35% - 20px);
      display: flex;
      flex-direction: column;
      gap: 24px;
      @media(max-width: 866.98px){
         &{
            gap: 12px;
            width: 80%;
         }
      }
         @media(max-width: 400px){
         &{
            width: 100%;
         }
      }
   }

   &__input {
      text-align: center;
      color: #999;
      padding-top: 16px;
      padding-bottom: 16px;
      border-radius: 10px;
      border: 1px solid #D8D8D8;
      transition: all .5s ease;
      font-size: 18px;
      &.active{
         box-shadow: 0px 0px 10px #999;
      }
   }

   &__button {
      cursor: pointer;
      background-color: #9B7150;
      border-radius: 10px;
      padding-top: 16px;
      padding-bottom: 16px;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      transition: all .5s ease;
      &:hover{
         background-color: #77573e;
      }
   }
}
