
%mainText {
   font-family: "Roboto", sans-serif;
   color: #555;
   line-height: 1.4;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
   font-size: calc(12px + 8 * (100vw / 1440));
     @media(max-width: 767px){
   font-size: calc(12px + (8 + 8 * 0.7 ) * ((100vw - 320px) / 1440));
  };
}


%writtingText{
   font-family: "Comforter Brush", cursive;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: 1.3;
  font-size: calc(35px + 73 * (100vw / 1440));
  @media(max-width: 767px){
   font-size: calc(35px + (73 + 73 * 0.7 ) * ((100vw - 320px) / 1440));
  };
}

%secondText {
   font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -1px;
  color: #000;
     font-size: calc(18px + 18 * (100vw / 1440));
   @media(max-width: 767px){
   font-size: calc(18px + (18 + 18 * 0.7 ) * ((100vw - 320px) / 1440));
  };
}
%maintittle {
   font-family: "Roboto", sans-serif;
   color: #694E38;
   text-transform: uppercase;
   line-height: 1.8;
   letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
   font-size: calc(15px + 9 * (100vw / 1440));
   @media(max-width: 767px){
   font-size: calc(15px + (9 + 9 * 0.7 ) * ((100vw - 320px) / 1440));
  };
}


body{
   @extend %mainText;
}