@use './_fonts';
.header {
   z-index: 2;
   box-shadow: -2px -1px 6px #000;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: rgba(249, 249, 249, 0.857);
   &__container {
      max-width: 1920px;
      position: relative;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      text-align: center;

   }
   &__logo {
      @extend %maintittle;
      font-weight: 400;
      transition: all .5s ease;
      @media(hover: hover){
      &:hover{
         letter-spacing: 15px;
         }
      };
   }
   &__burger {
      cursor: pointer;
      width: 40px;
      height: 24px;
      position: relative;
      z-index: 10;
      span{
         position: absolute;
         background-color: #000;
         width: 100%;
         height: 2px;
         left: 0;
         top: 50%;
         transform: translate(0 , -50%);
         transition: all .5s ease;
      }
      &::before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         background-color: #000;
         width: 100%;
         height: 2px;
         transition: all .5s ease;
      }
      &::after{
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         background-color: #000;
         width: 100%;
         transition: all .5s ease;
         height: 2px;
      }
      &.active{
         span{
            opacity: 0;
         }
         &::before{
            transform: rotate(-45deg);
            top: 47%;
         }
         &::after{
            transform: rotate(45deg);
            bottom: 47%;
         }
      }
   }
   &__menu {
      position: absolute;
      top: -100vh;
      right: 0;
      transition: all .5s ease;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      max-width: 320px;
      padding: 43px 20px 10px 20px;
      transform: translate(0, -20px);
      background-color: #fff;
      z-index: 9;
      @media(max-width: 552px){
         &{
            max-width: 270px;
         }
      };
      @media(max-width: 411px){
         &{
            max-width: 190px;
         }
      };
      & p{
         @extend %maintittle;
         text-align: start;
         font-weight: 400;
      }
      &.active{
         top: 0;
      }
   }
   &__links {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: start;
      position: relative;
   }
   &__link {
      text-transform: uppercase;
      color: #000;
      font-weight: 400;
      border-bottom: solid 1px #55555581;
      & a{
      transition: all .5s ease;
      }
      @media(hover: hover){
         &:hover a{
            scale: 1.1;
            color: #694E38;
         }
      };
   }
   &__img{
      position: relative;
      width: 100%;
      &-tittle{
      position: absolute;
      left: 50%;
      transform: translate(-50%, -20%);
      @extend %writtingText;
      color: #694E38;
      font-size: 60px;
      @media(max-width: 411px){
         &{
            font-size: 40px
         }
      };
      }
      &-img{
         width: 100%;
      }
   }
}

