@use './_fonts';
.perspective {
   margin-bottom: 160px;
   @media(max-width: 768px){
      &{
         margin-bottom: 80px;
      }
   };
   &__container {
      display: flex;
      align-items: center;
      gap: 90px;
      position: relative;
   }

   &__informations {
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex: 0 0 50%;
      z-index: 1;
         @media(max-width: 851px){
         &{
            flex: 0 0 75%
         }
         @media(max-width: 626px){
            &{
               flex: 0 0 100%
            }
         };
      };
   }

   &__block {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 50px 40px 50px 130px;
      background-color: #f3ebebef;
      position: relative;
      &::before{
         content: '';
         background: url(../img/perspective.svg) 0 0 no-repeat;
         width: 49px;
         height: 49px;
         position: absolute;
         left: 45px;
      }
      @media(max-width: 1074.99px){
         &{
         padding: 25px 20px 50px 75px;
         &::before{
            left: 15px;
         }
         }
      };
      @media(max-width: 425px){
         &{
         padding: 25px 20px 25px 75px;

         }
      };

   }

   &__tittle {
      @extend %secondText;
   }

   &__text {
   }
   &__img{
      aspect-ratio: 697 / 912;
      flex: 0 0 50%;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: contain;
      & img{


      }
   }
}
