@use './_fonts';


.price-hello {
   margin-top: 80px;
   margin-bottom: 60px;
		&__container {
         display: flex;
         flex-direction: column;
         text-align: center;
         gap: 60px;
         @media(max-width: 700px){
            gap: 40px;
         };
         @media(max-width: 425px){
            gap: 20px;
         };
		}

		&__tittle {
         @extend %writtingText;
         & span{
            color: #694E38;
         }
		}

		&__image {
         aspect-ratio: 1410 / 381;
         object-fit: cover;
         & img{
         width: 100%;
         height: 100%;
         }
		}
}

.price-price {
   cursor: grab;
		&__container {
		}
      & .body__swiper {
         padding-bottom: 80px;
      }
      &.swiper{
         display: flex;
         min-width: 0;
      }
      & .swiper-pagination{
         display: flex;
         align-items: center;
         justify-content: space-between;
         text-align: center;
         height: 70px;
         &-bullet{
            background-color: #fff;
            flex: 1 1 33.33333%;
            width: 100%;
            text-shadow: 2px 4px 3px #555;
         }
      } 
		&__block {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: start;
      gap: 40px;
      height: 100%;
		}

		&__name {
      @extend %writtingText;
		}

		&__informetions {
      display: flex;
      flex-direction: column;
      gap: 20px;
		}

		&__overview {
      @extend %maintittle;
		}

		&__text {
		}

		&__what {
      @extend %maintittle;

		}

		&__learns {
		}

		&__lear {
         list-style-type:disc;
         margin-left: 40px;
		}

		&__module {
         
		}

		&__buy {
      display: flex;
      gap: 20px;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
		}

		&__prise {
      @extend %writtingText;
		}

		&__link {
      @extend %secondText;
      color: #fff;
      padding: 6px 30px;
      background-color: #694E38;
      border-radius: 50px;
		}
}
.price-module {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
		&__mane {
      @extend %maintittle;
         padding-top: 40px;
		}

		&__times {
      display: flex;
      flex-direction: column;
      gap: 20px;
		}
		&__time {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      border-bottom: solid 1px #555;
      padding-bottom: 14px;
      & div{
        display: flex;
        gap: 20px;
        align-items: center;
        text-align: center;
      }
      & div p{
        padding: 5px;
        background-color: #fd923a;
        font-size: 12px;
        border-radius: 10px;
        color: #fff;
        display: flex;
        gap: 20px;
      }
      & div img{
        width: 22px;
        height: 22px;
      }
		}
}
