@use './_fonts';


.price-hello {
   margin-top: 80px;
   margin-bottom: 60px;
		&__container {
         display: flex;
         flex-direction: column;
         text-align: center;
         gap: 60px;
         @media(max-width: 700px){
            gap: 40px;
         };
         @media(max-width: 425px){
            gap: 20px;
         };
		}

		&__tittle {
         @extend %writtingText;
         & span{
            color: #694E38;
         }
		}

		&__image {
         aspect-ratio: 1410 / 381;
         object-fit: cover;
         & img{
         width: 100%;
         height: 100%;
         }
		}
}

.price-price {

		&__container {
      display: flex;
		}

		&__block {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: start;
      gap: 40px;
		}

		&__name {
      @extend %writtingText;
		}

		&__informetions {
      display: flex;
      flex-direction: column;
      gap: 20px;
		}

		&__overview {
      @extend %maintittle;
		}

		&__text {
		}

		&__what {
      @extend %maintittle;

		}

		&__learns {
		}

		&__lear {
    list-style-type:disc;
    margin-left: 40px;
		}

		&__module {
		}

		&__buy {
		}

		&__prise {
		}

		&__link {
		}
}
.price-module {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
		&__mane {
      @extend %maintittle;

		}

		&__times {
      display: flex;
      flex-direction: column;
      gap: 20px;

		}

		&__time {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      border-bottom: solid 1px #555;
      padding-bottom: 14px;
      & div{
        display: flex;
        gap: 20px;
        align-items: center;
        text-align: center;
      }
      & div p{
        padding: 5px;
        background-color: #fd923a;
        font-size: 12px;
        border-radius: 10px;
        color: #fff;
        display: flex;
        gap: 20px;
      }
      & div img{
        width: 22px;
        height: 22px;
      }
		}
}
